<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container mt-5 mr-5 ml-5">
            <div class="card">
                <h1 class="text-center">Start adding your Contacts</h1>
            </div>


            <h3 class="my-2">Donate Us</h3>
            <input type="text" id="payment_field" class="form-control my-2" placeholder="Enter amount here"/>

            <div class="container text-center mt-4">
                <button onclick="paymentStart()" class="btn btn-success btn-block">Donate</button>
            </div>
        </div>
    </section>
</body>
</html>