<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
  <section>
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">
          Your Contacts
        </h1>


        <!---Search bar-->
        <div class="search-container my-3">
           <input onclick="search()" id="search-input" type="text" class="form-control" placeholder="Search your contacts">
           <div class="search-result">
              
           </div>
        </div>
        

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">email</th>
              <th scope="col">phone</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>

            <tr th:each="c:${contacts}">
              <th scope="row" th:text="${c.cId}"></th>
              <td scope="row" th:text="${c.name}"></td>

              <td>
                  <a href="#" th:href="@{'/home/user/'+${c.cId}+'/showContact'}">
                    <span th:text="${c.email}">
                  </span></a>
              </td>

              <td scope="row" th:text="${c.phone}"></td>

              <td>
                <a th:href="@{'/home/user/'+${c.cId}+'/deleteContact'}" class="btn btn-danger btn-sm">Delete</a>
                <a th:href="@{'/home/user/'+${c.cId}+'/updateContact'}" class="btn btn-primary btn-sm">Update</a>
              </td>

            </tr>

          </tbody>
        </table>

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li th:if="${currentPage != 0}" class="page-item"><a class="page-link" th:href="@{'/home/user/showContact/'+${currentPage-1}}"  href="#">Previous</a></li>
            <li class="page-item" th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}"><a class="page-link"
              th:href="@{'/home/user/showContact/'+${i-1}}"  
              href="#"><span
                  th:text="${i}"></span></a></li>
            <li class="page-item" th:if="${currentPage+1 != totalPages}"><a class="page-link"th:href="@{'/home/user/showContact/'+${currentPage+1}}"  href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
</body>

</html>