<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="card mr-3">
            <div class="card-body">
                <h1 class="text-center">Update Contact</h1>
                <div class="container-fluid mt-1">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            
                            <form action="#"
                                th:object="${contact}"
                                enctype="multipart/form-data"
                                method="POST"
                                th:action="@{/home/user/updating}"
                                class="mt-2">

                            <input type="hidden" th:value="${contact.cId}" name="cId">

                                <!--first Name-->
                                
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="firstname" name="name" th:value="${contact.name}" placeholder="first name" class="form-control">
                                </div>
                               

                                 <!--2nd Name-->

                                 <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa-solid fa-user"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="secondName" name="secondName"  th:value="${contact.secondName}" placeholder="second name" class="form-control">
                                </div>

                                 <!--work-->

                                 <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="work" name="work" th:value="${contact.work}" placeholder="occupation" class="form-control">
                                </div>

                                 <!--email-->

                                 <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa-solid fa-envelope"></i>
                                        </div>
                                    </div>
                                    <input type="email" id="email" name="email" th:value="${contact.email}" placeholder="email address" class="form-control">
                                </div>


                                 <!--phone-->

                                 <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa-solid fa-phone"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="phone" name="phone" th:value="${contact.phone}" placeholder="phone number" class="form-control">
                                </div>


                                 <!--description-->
                                <div class="form-group mt-3">
                                    <textarea placeholder="Enter description"  name="description" id="description" th:text="${contact.description}" class="form-control" rows="10"></textarea>
                                </div>
                                

                                 <!--image-->

<!--                                <div class="custom-file">-->
<!--                                    <input type="file" name="image" class="custom-file-input" id="validatedInputGroupCustomFile">-->
<!--                                    <label class="custom-file-label" for="validatedInputGroupCustomFile">Choose file...</label>-->
<!--                                </div>-->

                                <div class="container text-center mt-3">
                                    <button class="btn btn-outline-primary">Update Contact</button>
                                </div>

                               

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>